

{% extends 'back/base.html.twig' %}

{% block body %}
    <p>Liste des catégories:</p>
    <ul>
        {% for c in categ %}
            <a href="{{ path('back_show_category', { 'title' : c.title }) }}">{{ c.title }}</a>
        {% endfor %}
    </ul>
{% endblock %}