{% extends "base.html.twig" %}

{% block title %}
    Ajouter une ressource
{% endblock %}

{% block body %}
    {% include 'Layout/Header.html.twig' %}


    <div class="container">
        <div class="add-ressource">
            <h1 class="title">Ajouter une offre</h1>
            <h2 class="subtitle">Chaque ressource ajouté sera une offre pour les autres</h2>

            <div class="form-add-ressource">
                <h4 class="title is-4">proposal</h4>
            </div>
        </div>
    </div>


{% endblock %}