{% extends 'back/base.html.twig' %}

{% block body %}
    <h1 class="title">Admin space</h1>

    <ul>
        <li><a href="{{ path('back_list_categories') }}">Categories</a></li>
        <li><a href="{{ path('back_list_ressources') }}">Ressources</a></li>
        <li><a href="{{ path('back_list_attributes') }}">Attributes</a></li>
    </ul>
{% endblock %}