{% extends "base.html.twig" %}

{% block title %}
    Ajouter une ressource
{% endblock %}

{% block body %}
    {% include 'Layout/Header.html.twig' %}

    <div class="page-trade-layout">
        <p>All Trade</p>
    </div>
{% endblock %}